<div class="container">
    <section id="inicio">
      <h1>CANCIONES PARA MAMÁ</h1>
      <img src="../assets/separador.png">    
      <h3>¿Qué mejor manera de expresar tu amor y gratitud hacia mamá que con música?</h3>
      <h3>Nuestro repertorio de canciones especialmente seleccionadas para mamá es un tributo emocionante a la mujer que lo es todo.</h3>
    </section>
    <section id="repertorio">
      <h2>REPERTORIO</h2>
      <ul>
        <li><span class="icono"></span>Canto a la madre</li>
        <li><span class="icono"></span>Mamá</li>
        <li><span class="icono"></span>Señora señora</li>
        <li><span class="icono"></span>Regalo de un hijo</li>
        <li><span class="icono"></span>Amor eterno</li>
        <li><span class="icono"></span>Te lo pido porfavor</li>
        <li><span class="icono"></span>Cielito lindo</li>
        <li><span class="icono"></span>Madrecita querida</li>
        <li><span class="icono"></span>A esa mujer</li>
        <li><span class="icono"></span>Amor de madre</li>
        <li><span class="icono"></span>Mi reyna y mi tesoro</li>
        <li><span class="icono"></span>Tu sangre en mi cuerpo</li>
        <li><span class="icono"></span>Perdón padre cita</li>
        <li><span class="icono"></span>Flores a mi madre</li>
        <li><span class="icono"></span>El rey (para la reyna)</li> 
    </ul>
  </section>
</div>  
