<div class="container">
    <section id="inicio">
      <h1>CANCIONES PARA VELORIOS</h1>
      <img src="../assets/separador.png">    
      <h3>En momentos de pérdida y duelo, la música puede ofrecer consuelo y serenidad.</h3>
      <h3>Nuestro repertorio de canciones para velorios está cuidadosamente seleccionado para acompañarte en estos momentos difíciles, brindando un tributo respetuoso y reconfortante a tus seres queridos.</h3>
    </section>
    <section id="repertorio">
      <h2>REPERTORIO</h2>
      <ul>
        <li><span class="icono"></span>Amor eterno</li>
        <li><span class="icono"></span>4 cirios</li>
        <li><span class="icono"></span>Como quien pierde una estrella</li>
        <li><span class="icono"></span>Ya lo sé que tú te vas</li>
        <li><span class="icono"></span>Abrazame</li>
        <li><span class="icono"></span>Cielo rojo</li>
        <li><span class="icono"></span>Abrazame muy fuerte</li>
        <li><span class="icono"></span>Yo te extrañaré</li>
        <li><span class="icono"></span>Entre tus manos</li>
        <li><span class="icono"></span>De qué me sirve el cielo</li>
        <li><span class="icono"></span>Mi ángel guardián</li>
        <li><span class="icono"></span>Si no te hubieras ido</li>
        <li><span class="icono"></span>Nadie es eterno</li>
        <li><span class="icono"></span>Golondrinas</li>
        <li><span class="icono"></span>Minuto de silencio</li>
    </ul>
  </section>
</div>  
