<div class="container">
    <section id="inicio">
      <h1>ROMÁNTICOS Y BOLEROS</h1>
      <img src="../assets/separador.png">    
      <h3>Déjate cautivar por la elegancia y la pasión del Bolero, un género musical que trasciende el tiempo y las fronteras.</h3>
      <h3>Con su melódica cadencia y letras cargadas de emotividad, el Bolero es el compañero perfecto para esos momentos íntimos y románticos que merecen ser acompañados por la más exquisita música.</h3>
    </section>
    <section id="repertorio">
      <h2>REPERTORIO</h2>
      <ul>
        <li><span class="icono"></span>Que Bonito Amor</li>
        <li><span class="icono"></span>Quién</li>
        <li><span class="icono"></span>La Enamorada que Soñé</li>
        <li><span class="icono"></span>Si Nos Dejan</li>
        <li><span class="icono"></span>Malagueña</li>
        <li><span class="icono"></span>Solamente una Vez</li>
        <li><span class="icono"></span>Contigo a la Distancia</li>
        <li><span class="icono"></span>Contigo Aprendí</li>
        <li><span class="icono"></span>Como Fue</li>
        <li><span class="icono"></span>Amar y Vivir</li>
        <li><span class="icono"></span>Adoro</li>
        <li><span class="icono"></span>Usted</li>
        <li><span class="icono"></span>Historia de un Amor</li>
        <li><span class="icono"></span>La Mejor de Todas</li>
        <li><span class="icono"></span>Toda una Vida</li>
        <li><span class="icono"></span>Flor sin Retoño</li>
        <li><span class="icono"></span>Motivos</li>
        <li><span class="icono"></span>Bésame Mucho</li>
        <li><span class="icono"></span>Como Han Pasado los Años</li>
        <li><span class="icono"></span>Gema</li>
        <li><span class="icono"></span>Dime Mi Amor</li>
        <li><span class="icono"></span>Amarte a la Antigua</li>
        <li><span class="icono"></span>Amorcito Corazón</li>
        <li><span class="icono"></span>Quién Será</li>
        <li><span class="icono"></span>Mía</li>
        <li><span class="icono"></span>Dos Gardenias</li>
        <li><span class="icono"></span>Quizás, Quizás</li>
        <li><span class="icono"></span>Si Me Tenías</li>
        <li><span class="icono"></span>Dos Historias</li>
        <li><span class="icono"></span>Sé que Piensas en Mí</li>
        <li><span class="icono"></span>Triunfamos</li>
        <li><span class="icono"></span>Entrega Total</li>
        <li><span class="icono"></span>La Incondicional</li>
        <li><span class="icono"></span>No Discutamos</li>
        <li><span class="icono"></span>Te Amaré Toda la Vida</li>
        <li><span class="icono"></span>Hoy Tengo Ganas de Ti</li>   
    </ul>
  </section>
</div>  
