<div>
    <section id="inicio">
      <h1>¡Bienvenidos a Mariachi Romance!</h1>
      <img src="../assets/separador.png">
      <h3>Sumérgete en la pasión, el romance y la tradición con nuestra exquisita interpretación musical.</h3>
      <h3>En Mariachi Romance, estamos dedicados a llevar la auténtica esencia de México a cada evento, desde celebraciones íntimas hasta grandes festividades.</h3>
      <h3>Ya sea que estés planeando una boda, una serenata romántica, una fiesta de cumpleaños o cualquier otro evento especial, Mariachi Romance está aquí para hacerlo inolvidable. Nuestro repertorio diverso abarca desde clásicos tradicionales hasta éxitos contemporáneos, asegurando que haya algo para todos los gustos y edades.</h3>
    </section>
</div>  