<div class="container">
    <section id="inicio">
      <h1>CANCIONES PARA QUINCEAÑERAS</h1>
      <img src="../assets/separador.png">    
      <h3>¡Es tu momento de brillar y celebrar tus quince años con música que refleje tu esencia única y tu estilo incomparable! </h3>
      <h3>Nuestro repertorio de canciones especialmente seleccionadas para quinceañeras está diseñado para elevar cada momento de tu fiesta y hacer de tu celebración un evento inolvidable.</h3>
    </section>
    <section id="repertorio">
      <h2>REPERTORIO</h2>
      <ul>
        <li><span class="icono"></span>Mi Niña Bonita</li>
        <li><span class="icono"></span>No crezcas más</li>
        <li><span class="icono"></span>Yo te esperaba</li>
        <li><span class="icono"></span>Flor de primavera</li>
        <li><span class="icono"></span>Hermoso cariño</li>
        <li><span class="icono"></span>15 primaveras</li>
        <li><span class="icono"></span>Vals de Challan</li>
        <li><span class="icono"></span>Muñequita linda</li>
        <li><span class="icono"></span>Despierta</li>
    </ul>
  </section>
</div>  
