<div class="container">
    <section id="inicio">
      <h1>CANCIONES PARA PAPÁ</h1>
      <img src="../assets/separador.png">    
      <h3>¡Celebremos a papá con música que llega al corazón!</h3>
      <h3>Nuestro repertorio de canciones especialmente seleccionadas para él es un homenaje emocionante al hombre que lo significa todo.</h3>
    </section>
    <section id="repertorio">
      <h2>REPERTORIO</h2>
      <ul>
        <li><span class="icono"></span>El rey</li>
        <li><span class="icono"></span>El aventurero</li>
        <li><span class="icono"></span>Ni querido viejo</li>
        <li><span class="icono"></span>Cuando quería ser grande</li>
        <li><span class="icono"></span>Mi querido cascarrabias</li>
        <li><span class="icono"></span>Por amor a mi padre</li>
        <li><span class="icono"></span>Ese es mi padre</li>
        <li><span class="icono"></span>Esta es para mi viejo</li>
        <li><span class="icono"></span>Mi lindo viejo</li>
        <li><span class="icono"></span>Gracias por ser mi padre</li>
        <li><span class="icono"></span>El tiempo no perdona</li>
        <li><span class="icono"></span>Mi abuelo vino a visitarme</li>
        <li><span class="icono"></span>Mi vejez</li>
    </ul>
  </section>
</div>  
