<div class="container">
    <section id="inicio">
      <h1>CORRIDOS BAILABLES</h1>
      <img src="../assets/separador.png">
      <h3>¿Listo para darle sabor a la pista de baile con auténticos corridos mexicanos?</h3>
      <h3>En nuestro repertorio de corridos bailables encontrarás la combinación perfecta de ritmo, pasión y tradición para que bailes al estilo más auténtico.</h3>
    </section>
    <section id="repertorio">
      <h2>REPERTORIO</h2>
      <ul>
        <li><span class="icono"></span>Felicidades</li>
        <li><span class="icono"></span>En Tu Día</li>
        <li><span class="icono"></span>La Calandria</li>
        <li><span class="icono"></span>Allá en el Rancho Grande</li>
        <li><span class="icono"></span>Chulada de Mujer</li>
        <li><span class="icono"></span>Canta Canta</li>
        <li><span class="icono"></span>Caray</li>
        <li><span class="icono"></span>Me Gustas Mucho</li>
        <li><span class="icono"></span>Ojitos Verdes</li>
        <li><span class="icono"></span>Matalas</li>
        <li><span class="icono"></span>Es la Mujer</li>
        <li><span class="icono"></span>La Pitita</li>
        <li><span class="icono"></span>No Tengo Dinero</li>
        <li><span class="icono"></span>Cocula</li>
        <li><span class="icono"></span>Copitas de Mezcal</li>
        <li><span class="icono"></span>Me Estás Quemando</li>
        <li><span class="icono"></span>Parranda Larga</li>
        <li><span class="icono"></span>Que Digan Misa</li>
        <li><span class="icono"></span>El Ayudante</li>
        <li><span class="icono"></span>El Ausente</li>
        <li><span class="icono"></span>Viva Quien Sabe Querer</li>
        <li><span class="icono"></span>La Mochila Azul</li>
        <li><span class="icono"></span>Por Esa Yegua</li>
        <li><span class="icono"></span>Cumbachero</li>
        <li><span class="icono"></span>Juan Charrasqueado</li>
        <li><span class="icono"></span>México Lindo y Querido</li>
        <li><span class="icono"></span>La Ley del Monte</li>
        <li><span class="icono"></span>Jalisco</li>
        <li><span class="icono"></span>Aquí el que Manda Soy Yo</li>
        <li><span class="icono"></span>Cascos Ligeros</li>
        <li><span class="icono"></span>No Me Sé Rajar</li>
        <li><span class="icono"></span>De un Rancho a Otro</li>
        <li><span class="icono"></span>Galletas de Oro</li>
        <li><span class="icono"></span>La Taquillera</li>
    </ul>
  </section>
</div>  
