<div class="container">
    <section id="inicio">
      <h1>RANCHERAS, SONES, GUAPANGOS</h1>
      <img src="../assets/separador.png">
      <h3>Descubre nuestro amplio repertorio de clásicos mexicanos.</h3>
      <h3>Una serenata es el regalo perfecto para aquellos que aman la cultura mexicana. En Mariachi Romance ofrecemos una selección de sones clásicos cuidadosamente elegidos para deleitar a todos aquellos que buscan una canción que les toque el corazón y los haga cantar con pasión.</h3>
    </section>
    <section id="repertorio">
      <h2>REPERTORIO</h2>
      <ul>
          <li><span class="icono"></span>El Rey</li>
          <li><span class="icono"></span>Volver, Volver</li>
          <li><span class="icono"></span>La Malagueña</li>
          <li><span class="icono"></span>Cucurrucucú Paloma</li>
          <li><span class="icono"></span>Pa' Todo el Año</li>
          <li><span class="icono"></span>No Volveré</li>
          <li><span class="icono"></span>Amor de los Dos</li>
          <li><span class="icono"></span>Nuestro Juramento</li>
          <li><span class="icono"></span>La Última Noche</li>
          <li><span class="icono"></span>Lastima Que Seas Ajena</li>
          <li><span class="icono"></span>Las Llaves de Mi Alma</li>
          <li><span class="icono"></span>Guadalajara</li>
          <li><span class="icono"></span>Esclavo y Amo</li>
          <li><span class="icono"></span>Costumbres</li>
          <li><span class="icono"></span>Rata de Dos Patas</li>
          <li><span class="icono"></span>A Mi Manera</li>
          <li><span class="icono"></span>Hasta Que Te Conocí</li>
          <li><span class="icono"></span>Se Me Olvidó Otra Vez</li>
          <li><span class="icono"></span>Inocente Pobre Amigo</li>
          <li><span class="icono"></span>Te Sigo Amando</li>
          <li><span class="icono"></span>Porque Me Haces Llorar</li>
          <li><span class="icono"></span>Deja Que Salga la Luna</li>
          <li><span class="icono"></span>Luz de Luna</li>
          <li><span class="icono"></span>Serenata Huasteca</li>
          <li><span class="icono"></span>Paloma Querida</li>
          <li><span class="icono"></span>Te Solté la Rienda</li>
          <li><span class="icono"></span>Paloma Negra</li>
          <li><span class="icono"></span>La Mano de Dios</li>
          <li><span class="icono"></span>Héchame a Mí la Culpa</li>
          <li><span class="icono"></span>Mi Talismán</li>
          <li><span class="icono"></span>En Tu Pelo</li>
          <li><span class="icono"></span>Tú y Las Nubes</li>
          <li><span class="icono"></span>La Feria de las Flores</li>
          <li><span class="icono"></span>Por Mujeres Como Tú</li>
          <li><span class="icono"></span>Qué Te Vaya Bonito</li>
          <li><span class="icono"></span>Gorrioncillo Pecho Amarillo</li>
          <li><span class="icono"></span>Fallaste Corazón</li>
          <li><span class="icono"></span>No Me Amenaces</li>
          <li><span class="icono"></span>Por Tu Maldito Amor</li>
          <li><span class="icono"></span>Acá Entre Nos</li>
          <li><span class="icono"></span>La Bikina</li>
          <li><span class="icono"></span>Arriba Pichataro</li>
          <li><span class="icono"></span>Estos Celos</li>
          <li><span class="icono"></span>Sublime Mujer</li>
          <li><span class="icono"></span>Para Siempre</li>
          <li><span class="icono"></span>Mujeres Divinas</li>
          <li><span class="icono"></span>Urge</li>
          <li><span class="icono"></span>El Pastor</li>
          <li><span class="icono"></span>El Jinete</li>
          <li><span class="icono"></span>La Diferencia</li>
          <li><span class="icono"></span>Qué de Raro Tiene</li>
          <li><span class="icono"></span>La Derrota</li>
          <li><span class="icono"></span>Ella</li>
          <li><span class="icono"></span>Las Rejas No Matan</li>
          <li><span class="icono"></span>Camino a Guanajuato</li>
          <li><span class="icono"></span>Tu Camino y el Mío</li>
          <li><span class="icono"></span>Amor con Amor se Paga</li>
          <li><span class="icono"></span>Sabes Una Cosa</li>
          <li><span class="icono"></span>Son de la Negra</li>
          <li><span class="icono"></span>Son de la Madrugada</li>
          <li><span class="icono"></span>Sihualteco</li>
          <li><span class="icono"></span>A Pesar de Todo</li>
          <li><span class="icono"></span>Cómo México No Hay Dos</li>
          <li><span class="icono"></span>De Qué Manera Te Olvido</li>
          <li><span class="icono"></span>De Qué Te Quiero, Te Quiero</li>
          <li><span class="icono"></span>Vámonos</li>
          <li><span class="icono"></span>Desdén</li>
          <li><span class="icono"></span>Puñalada Trapera</li>
          <li><span class="icono"></span>Te Quise Olvidar</li>
          <li><span class="icono"></span>Rezaré</li>
          <li><span class="icono"></span>A los 4 Vientos</li>
          <li><span class="icono"></span>Si Te Vas, No Hay Lío</li>
          <li><span class="icono"></span>Ya Para Qué</li>
          <li><span class="icono"></span>Demasiado Herido</li>
          <li><span class="icono"></span>Aprendiste a Volar</li>
          <li><span class="icono"></span>Sombras</li>
          <li><span class="icono"></span>En Mi Viejo San Juan</li>
          <li><span class="icono"></span>Loco</li>
          <li><span class="icono"></span>Payaso</li>
          <li><span class="icono"></span>Renunciación</li>
          <li><span class="icono"></span>Estoy Enamorado</li>
          <!-- Agrega más canciones si lo deseas -->
      </ul>
  </section>
</div>  