#inicio {
    text-align: center; /* Centra el contenido horizontalmente */
    padding-top: 30px;
    align-items: center;
  }
  
  #inicio h1 {
    font-size: 50px; /* Tamaño del texto */
    color: #d69f07; /* Color del texto */
    margin-bottom: 20px; /* Espacio inferior */
    font-family: Mexica;
  }
  
  #inicio h3 {
    font-size: 50px; /* Tamaño del texto */
    color: #000000; /* Color del texto */
    margin-bottom: 20px; /* Espacio inferior */
    font-family: Cali;
    padding-left: 20%;
    padding-right: 20%;
  }
  
  #inicio img {
    width: 50%; /* Ajusta el ancho de la imagen según sea necesario */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
  }
  
  .video-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra los iframes horizontalmente */
    padding-bottom: 30px;
  }
  
  .video-container iframe {
    width: calc(50% - 20px); /* Ajusta el ancho de los iframes y considera el margen entre ellos */
    max-width: 560px; /* Ajusta el ancho máximo según tus preferencias */
    height: 315px; /* Ajusta la altura según tus preferencias */
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px; /* Espacio entre los iframes */
  }
  
  @media screen and (max-width: 768px) {
    #inicio h1 {
      font-size: 40px; /* Reducir el tamaño del texto para móvil */
      padding: 5px;
    }
    
    #inicio h3 {
      font-size: 40px; /* Reducir el tamaño del texto para móvil */
      padding-left: 10px; /* Reducir el padding izquierdo */
      padding-right: 10px; /* Reducir el padding derecho */
      line-height: 0.8; /* Reducir el interlineado */
    }
  
    #inicio img {
      width: 80%; /* Ajustar el ancho de la imagen al 80% en dispositivos móviles */
    }
  
    .video-container iframe {
      width: calc(100% - 20px); /* Ajustar el ancho de los iframes al 100% y considerar el margen entre ellos */
      max-width: 100%; /* Ajustar el ancho máximo de los iframes al 100% */
      height: auto; /* Permitir que la altura de los iframes se ajuste automáticamente */
      margin: 10px 0; /* Espacio entre los iframes en dispositivos móviles */
    }
  }
  