<div class="container-main">
  <div class="container-menu">
    <div class="menu-superior">
      <h2 class="icono"><a href="tel:933599442"><img src="../assets/telefono.png" alt="Icono Teléfono"></a>933599442</h2>    
      <h2 class="icono"><a href="https://www.facebook.com/charromilamores/?paipv=0&eav=AfatLxdXu0MZm8csmTHZbxxEV5xFuffoYJLn09lWD79ihDfjGdTXyvr3OGY1rTkZgto&_rdr"><img src="../assets/facebook.png" alt="Icono facebook"></a></h2>   
      <h2 class="icono"><a href="https://www.instagram.com/charromilamoresoficial?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><img src="../assets/instagram.png" alt="Icono instagram"></a></h2>   
      <h2 class="icono"><a href="https://www.tiktok.com/@charromilamoresoficial?is_from_webapp=1&sender_device=pc"><img src="../assets/tik-tok.png" alt="Icono tiktok"></a></h2>   
      <h2 class="icono"><a href="https://www.youtube.com/@mariachiromanceoficial5037/videos"><img src="../assets/youtube.png" alt="Icono youtube"></a></h2>   
    </div>
    <li><img class="img-logo" src="../assets/LOGOMR.png" alt="Logo" *ngIf="isMobileView"></li>
    <div class="menu-responsive">
      <div class="menu-icon" *ngIf="isMobileView" (click)="toggleMenu()">
        <span>&#9776;</span>
      </div>      
      <nav class="menu-navegador" *ngIf="isMenuOpen || !isMobileView">
        <li><img class="img-logo" src="../assets/LOGOMR.png" alt="Logo" *ngIf="!isMobileView"></li>
        <li><a href="">INICIO</a></li>
        <li><a href="nosotros">NOSOTROS</a></li>
        <li><a href="fotos">FOTOS</a></li>
        <li><a href="videos">VIDEOS</a></li>
        <li><a href="precios">PRECIOS</a></li>
        <li class="submenu-parent" >
<a (click)="toggleSubmenu()">REPERTORIO<img src="../assets/triangulo.png" class="icon-repert" *ngIf="isMobileView"></a>
          <ul class="submenu" *ngIf="showSubmenu">
            <li><a href="rancheras">RANCHERAS, SONES, GUAPANGOS</a></li>
            <li><a href="corridos">CORRIDOS BAILABLES</a></li>
            <li><a href="romantico">ROMÁNTICOS Y BOLEROS</a></li>
            <li><a href="mama">CANCIONES PARA MAMÁ</a></li>
            <li><a href="papa">CANCIONES PARA PAPÁ</a></li>
            <li><a href="quinceañera">CANCIONES PARA QUINCEAÑERAS</a></li>
            <li><a href="bailable">CANCIONES BAILABLES</a></li>
            <li><a href="velorios">CANCIONES PARA VELORIOS</a></li>
          </ul>
        </li>     
      </nav>
    </div>    
  </div>
  <div class="carousel" (mouseenter)="stopSlideShow()" (mouseleave)="startSlideShow()">
    <div class="carousel-inner">
      <div class="carousel-item" *ngFor="let image of images; let i = index" [class.active]="i === currentIndex">
        <img [src]="image.src" [alt]="image.alt">
      </div>
    </div>
    <button class="carousel-control prev" (click)="prevSlide()">&#10094;</button>
    <button class="carousel-control next" (click)="nextSlide()">&#10095;</button>
  </div>  
  <main>
    <router-outlet></router-outlet>
    <section id="contrato">
      <h1>¿CÓMO CONTRATAR NUESTROS SERVICIOS?</h1>
      <div class="column-container">
      <div class="columna">
        <img src="../assets/guitarra.png">
        <h3>Escoja su serenata de mariachi</h3>
        <h4>Escoja qué tipo de serenata y show desea para esa persona especial. Nuestro grupo de Mariachis va a todos los distritos de Lima y Callao.</h4>
      </div>
      <div class="columna">  
        <img src="../assets/precio.png">    
        <h3>Mariachis en Lima Precios</h3>
        <h4>Contáctese por cualquiera de nuestros medios y realice su cotización.</h4>
      </div>
      <div class="columna">
        <img src="../assets/calendario.png">
        <h3>Separe la fecha de su evento</h3>
        <h4>Solicite su presupuesto a través de nuestro formulario</h4>
      </div>
      <div class="columna">
        <img src="../assets/pago-movil.png">
        <h3>Métodos de pago</h3>
        <h4>Aceptamos tarjetas de crédito y débito +5%
          Yape - Plin - Lukita</h4>
      </div>
      </div>    
    </section>
    <section id="tercero">
      <h1>¡Contrate a los mejores mariachis en lima!</h1>
      <img src="../assets/separador.png">
      <h4>Si Buscas a los Mejores Mariachis en Lima, Mariachi Romance, le dara información más completa y detallada en nuestro número de teléfono y whatsapp:</h4>
      <button><img src="../assets/telefono.png">933 599 442</button>
      <h3>Manuel Gustavo Cruces Monsalve</h3>
    </section>
    <section id="cuarto">
     <h1>Únete a nosotros en este viaje musical lleno de amor, pasión y alegría. ¡Haz que tu próximo evento sea una experiencia verdaderamente inolvidable con Mariachi Romance!</h1>
    </section>
    <section id="foot">
      <img class="img-logo" src="../assets/LOGOMR.png" alt="Logo">
      <img src="../assets/separador.png">
      <h1>¡Contáctanos hoy mismo para reservar tu fecha y dejar que la magia de Mariachi Romance llene el aire!</h1>
    </section>
    <section id="ultimo">
      <h1>© 2024 Mariachis en Lima | Mariachi Romance | All Rights Reserved. Diseño Web por CodeCraft Studios| 923062553.
      </h1>
    </section>
    <!-- Botón flotante -->
    <a class="boton-flotante" href="https://wa.me/933599442" target="_blank">
      <img src="../assets/whatsapp.png" alt="whatsapp">
    </a>
  </main>  
</div>
