<div class="container">
    <section id="inicio">
      <h1>PRECIOS "MARIACHI ROMANCE"</h1>
      <img src="../assets/separador.png">
      <h3>Creemos en la transparencia y en ofrecer un valor excepcional a nuestros clientes. Nuestras tarifas son competitivas y están diseñadas para adaptarse a una variedad de presupuestos. </h3>
      <h3>Desde paquetes estándar hasta opciones personalizadas, trabajamos contigo para crear la experiencia perfecta que se ajuste a tus necesidades y preferencias. Además de nuestra excelente calidad musical, nuestros precios incluyen profesionalismo, puntualidad y el compromiso de brindar un servicio excepcional en cada evento.</h3>
      <h4>TE PRESENTAMOS NUESTROS PAQUETES DE SERENATAS</h4>
    </section>
    <div class="img-precios">
        <img src="../../../assets/precios/precios (1).jpg">
        <img src="../../../assets/precios/precios (2).jpg">
        <img src="../../../assets/precios/precios (3).jpg">
        <img src="../../../assets/precios/precios (4).jpg">
        <img src="../../../assets/precios/precios (5).jpg">
        <img src="../../../assets/precios/precios (6).jpg">
        <img src="../../../assets/precios/precios (7).jpg">
        <img src="../../../assets/precios/precios (8).jpg">
        <img src="../../../assets/precios/precios (9).jpg">
        <img src="../../../assets/precios/precios (10).jpg">
    </div>
    <h2>Los Precios solo son referenciales, para una cotización comuníquese por favor por Celular/Whatsapp 933599442
        | Las Cotizaciones varían dependiendo de: Horarios, distritos y fechas especiales.</h2>
</div>  
