<div>
    <section id="inicio">
      <h1>CONOCENOS "MARIACHI ROMANCE"</h1>
      <img class="separador" src="../assets/separador.png">
      <h3>Los años de experiencia hablan por nosotros, nuestros músicos profesionales brindan lo mejor de su arte a través de nuestros instrumentos netamente Mexicanos como son las trompetas, los violines, el guitarrón, la vihuela y la guitarra.</h3>
    </section>
    <div class="img-fotos">
        <img src="../../../assets/fotos/nosotros01.jpg">
        <img src="../../../assets/fotos/nosotros04.jpg">
        <img src="../../../assets/fotos/nosotros3.jpg">
      </div>
</div>  