<div class="container">
    <section id="inicio">
      <h1>Canciones Bailables</h1>
      <img src="../assets/separador.png">    
      <h3>¿Listo para poner tus pies en movimiento y disfrutar de una fiesta inolvidable?</h3>
      <h3>¡Entonces estás en el lugar correcto! </h3>
    </section>
    <section id="repertorio">
      <h2>REPERTORIO</h2>
      <ul>
        <li><span class="icono"></span>Mix negrita</li>
        <li><span class="icono"></span>Alimaña</li>
        <li><span class="icono"></span>Deudas y dolor</li>
        <li><span class="icono"></span>Morir de amor</li>
        <li><span class="icono"></span>Don José</li>
        <li><span class="icono"></span>Don Turbio</li>
        <li><span class="icono"></span>Caballo viejo</li>
        <li><span class="icono"></span>Entre rejas</li>
        <li><span class="icono"></span>Compay Gato</li>
        <li><span class="icono"></span>La negra Tomasa</li>
        <li><span class="icono"></span>Si no me dan de beber</li>
        <li><span class="icono"></span>Carnaval arequipeño</li>
        <li><span class="icono"></span>Domitila</li>
        <li><span class="icono"></span>Mariachi loco</li>
        <li><span class="icono"></span>El pio pio</li>
        <li><span class="icono"></span>La pacharaca</li>
        <li><span class="icono"></span>Lágrima por lágrima</li>
        <li><span class="icono"></span>Mix carnavales cajamarquinos</li>
        <li><span class="icono"></span>No estaba muerto</li>
        <li><span class="icono"></span>Más que tu amigo</li>
        <li><span class="icono"></span>Se va el caimán</li>
        <li><span class="icono"></span>Ojos azules</li>
        <li><span class="icono"></span>Yo no bailo con Juana</li>
        <li><span class="icono"></span>Tabaco y ron</li>
        <li><span class="icono"></span>Anaconda</li>
        <li><span class="icono"></span>Huaynos</li>
        <li><span class="icono"></span>Ya se me murió mi abuelo</li>
        <li><span class="icono"></span>Hasta las 6 de la mañana</li>
        <li><span class="icono"></span>Dios mío haz que me enamore</li>
        <li><span class="icono"></span>Si me dejas no vale</li>
        <li><span class="icono"></span>Soledad</li>
        <li><span class="icono"></span>La indecorosa</li>
        <li><span class="icono"></span>Si una vez dije que te amaba</li>
        <li><span class="icono"></span>Amor de mis amores</li>
        <li><span class="icono"></span>Senderito amor</li>
        <li><span class="icono"></span>Cariñito</li>
        <li><span class="icono"></span>El siete</li>
        <li><span class="icono"></span>El hijo de tuta</li>
        <li><span class="icono"></span>Murguero</li>
        <li><span class="icono"></span>La guitarra</li>
        <li><span class="icono"></span>Esta borracha</li>
        <li><span class="icono"></span>Te juro que te amo</li>
        <li><span class="icono"></span>Elsa</li>
        <li><span class="icono"></span>Moliendo café</li>
        <li><span class="icono"></span>Que no quede huella</li>
        <li><span class="icono"></span>El polvorete</li>
    </ul>
  </section>
</div>  
